body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#game-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.dice-container {
  margin: 20px;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#left-score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#right-score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#current-turn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title-img {
  height: 45px;
  margin: 10px;
}

.subtitle-img {
  height: 30px;
  margin: 10px;
}

#bottom-pig {
  height: 30px;
  margin-left: 10px;
}

.group-buttons {
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px;
  display: flexbox;
  flex-direction: row;
}
