body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#left-score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#right-score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.title-img {
    height: 45px;
    margin: 10px;
}

.subtitle-img {
    height: 30px;
    margin: 10px;
}