/* html {
  height: 100%;
} */

body {
  height: 97vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Ranchers;
  letter-spacing: 1px;
  background-image: url(/assets/barn1.webp);
  background-size: cover;
}

#game-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.dice-container {
  margin: 20px;
}

#left-die {
  border: 5px solid #282d3c;
  border-radius: 40px;
}

#right-die {
  border: 5px solid #282d3c;
  border-radius: 40px;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#left-score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a88d66a7;
  border: 4px solid brown;
  border-radius: 40px;
  padding: 5px;
  text-align: center;
}

#right-score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #a88d66a7;
  border: 4px solid brown;
  border-radius: 40px;
  padding: 5px;
  text-align: center;
}

#score-container {
  background-color: #91d956c6;
  border: 2px solid brown;
  border-radius: 40px;
  padding: 5px;
  width: 40%;
  text-align: center;
  margin-top: 20px;
}

#current-turn {
  background-color: #91d956c6;
  border: 2px solid brown;
  border-radius: 40px;
  padding: 5px;
  text-align: center;
  padding: 6px;
  width: 15%;
  margin-bottom: 15px;
}

/* #information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
} */

#title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#current-turn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title-img {
  height: 45px;
  margin: 10px;
}

.subtitle-img {
  height: 30px;
  margin: 10px;
}

#bottom-pig {
  height: 30px;
  margin-left: 10px;
}

.btn {
  cursor: pointer;
  padding: 5px 20px;
  text-transform: uppercase;
  display: flexbox;
  border-radius: 5px;
}

.btn--roll {
  background-color: #007bff;
  margin: 5px;
  color: white;
}

.btn--hold {
  background-color: #28a745;
  margin: 5px;
  color: white;
}

.new--game {
  background-color: #ffc107;
  margin: 5px;
  color: black;
}

.rules {
  background-color: #af4b35;
}

/* if classList includes hidden, hide element */
.hidden {
  display: none !important;
}

#piggy-1 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#piggy-2 {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#right-score-title {
  font-size: 25px;
  margin-bottom: 0;
}

#left-score-title {
  font-size: 25px;
  margin-bottom: 0;
}

/* right left points, right left player */
#right-points {
  font-size: 50px;
  margin: 0;
}

#left-points {
  font-size: 50px;
  margin: 0;
}

#left-player {
  font-size: 50px;
  margin: 0;
}

#right-player {
  font-size: 50px;
  margin: 0;
}

#left {
  margin-top: 0;
}

#right {
  margin-top: 0;
}

#turn-title {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

#die-img, #farmer-img, #main-title {
  margin-bottom: 0;
}

#points-header {
  position: relative;
  z-index: 3;
}

.point-header-right {
  transform: rotate(10deg);
}

#rules-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.point-header-left {
  transform: rotate(-10deg);
}

#left-points, #right-points {
  position: relative;
  z-index: 3;
  /* color: #007bff; */
}

#fire-right, #fire-left {
  position: absolute;
  z-index: 2;
}